body,
html {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-red {
  color: #f72210;
}

.bg-red {
  background-color: #f72210;
}

.navbar {
  position: relative;
  background-color: #f72210;
  height: 95px;
  padding: 20px 10px 15px;
}

nav .brand {
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  padding: 10px 15px;
}

nav .brand svg {
  fill: #fff;
  width: 396px;
  height: 60px;
  margin: 10px auto 0;
}

.subscribe {
  background-color: #fff;
  color: #f72210;
}

.header-bottom {
  position: relative;
  padding-right: 160px;
}

.header-bottom:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;
  width: 66px;
  background-color: #f72210;
  border-left: 12px solid #fff;
  border-top: 13px solid #f72210;
}

ul.page-nav {
  font-size: 21px;
}

.search {
  right: 102px;
  top: 18px;
  width: 60px;
  height: 54px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-icon {
  background: url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-search-glass.svg)
    center/contain no-repeat #fff;
  width: 20px;
  height: 20px;
  top: 18px;
  right: 82px;
}

.category {
  bottom: 0;
  left: 0;
  color: #f72210;
}

.summary {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25rem;
}

.icon-n {
  width: 29px;
  height: 28px;
  background: url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/logo-n1.svg)
    center/contain no-repeat #f72210;
}

@media screen and (min-width: 768px) {
  .magazine-img {
    height: 267px;
    width: 100%;
    object-fit: cover;
  }
}

.mag-cat {
  background-color: #f72210;
}

.feat-ss:after {
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  display: block;
  content: '';
  width: 29px;
  height: 28px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.count-link {
  width: 70px;
  height: 52px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png)
    0 0 / contain no-repeat;
  color: #e9212e;
}

@font-face {
  font-family: 'Genericons';
  font-display: auto;
  src: local('Genericons'),
    url('https://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.eot');
  src: url('https://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.eot?#iefix')
      format('embedded-opentype'),
    url('https://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.woff')
      format('woff'),
    url('https://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.ttf')
      format('truetype'),
    url('https://s.newsweek.com/sites/all/themes/lemon/fonts/Genericons.svg#Genericons')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

footer .brand svg {
  display: block;
  width: 236px;
  height: 36px;
  fill: #f72210;
}
